@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: calculateRem(48px);
}

h2 {
  font-size: calculateRem(42px);
}

h3 {
  font-size: calculateRem(36px);
}

h4 {
  font-size: calculateRem(30px);
}

h5 {
  font-size: calculateRem(24px);
}

h6 {
  font-size: 18px;
}
